
<%- include('./partials/head.ejs') %> 

  <body>
    <input type="checkbox" id="nav-toggle" />
    <div class="sidebar">
      <div class="sidebar-brand">
        <h2><span class="lab la-magento"></span><span>Meridan</span></h2>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <input type="checkbox" id="sidebar-toggle_2" checked />
            <a href="#"
              ><label for="sidebar-toggle_2"
                ><span class="las la-igloo"></span>
                <span>Dashboard</span></label
              ></a
            >
            <div class="sub-menu-2">
              <ul>
                <li>
                  <a href="/hospital/dashboard" class="active"
                    ><span class="las la-clipboard-check"></span>
                    <span>My Profile</span></a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li>
            <input type="checkbox" id="sidebar-toggle" />
            <a href="#"
              ><label for="sidebar-toggle"
                ><span class="las la-clipboard-list"></span>
                <span>Admission</span></label
              ></a
            >
            <div class="sub-menu-1">
              <ul>
                <li>
                  <a href="/hospital/listPatientDetails" 
                    ><span class="las la-clipboard-check"></span>
                    <span>Lists of Patient details</details></span></a
                  >
                </li>
                <li>
                  <a href="/hospital/addPatientDetails"
                    ><span class="las la-clipboard-check"></span>
                    <span>Add Patient</details></span></a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="las la-bars"></span>
          </label>
          Dashboard
        </h2>
        <div class="search-wrapper">
          <span class="las la-search">
            <input type="search" placeholder="Search here" />
          </span>
        </div>
        <div class="user-wrapper">
          <img src="./img/img_1.jpg" width="40px" height="40px" alt="" />
          <div>
            <h4><%= hospital.hosname %></h4>
            <small><%= hospital.uname %></small>
          </div>
          <div class="sub-menu">
            <ul>
              <li><span class="las la-user"></span>My Profile</li>
              <li><span class="las la-key"></span>Change Password</li>
              <li><span class="las la-sign-out-alt"></span><a href="/hospital/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>

