.sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: $main-color;
  z-index: 100;
  transition: width 300ms;

  &-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: $pure-white;
    z-index: 100;

    & span {
      display: inline-block;
      padding-right: 1.3rem;
    }
  }

  &-menu {
    margin-top: 1rem;

    & li {
      width: 100%;
      margin-bottom: 1.7rem;
      padding-left: 2rem;

      &:nth-child(3) {
        position: relative;
        margin-top: -0.3rem;

        & .sub-menu-1 {
          display: none;
        }

        #sidebar-toggle {
          opacity: 0;
        }
      }
    }

    & ul li:nth-child(3) #sidebar-toggle:checked ~ .sub-menu-1 {
      display: block;
      margin-top: 1.5rem;
      margin-left: 0;
    }

    & a {
      display: block;
      padding-left: 1rem;
      color: $pure-white;
      font-size: 1.2rem;

      &.active {
        background: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $main-color;
        border-radius: 30px 0 0 30px;
      }

      & span:first-child {
        font-size: 1.5rem;
        padding-right: 1.2rem;
      }

      &:hover {
        color: black;
      }
    }
  }
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked + .sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}
