<!DOCTYPE html>
<html>
  <head>
    <title>File upload multer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>

    
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>
        <!-- <div class="col-rt-2">
            <ul>
                <li><a href="" title="Back to main page">Back</a></li>
            </ul>
        </div>  -->
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<!-- <h1>Profile page</h1> -->
                <!-- <p>Patient Detils </p> -->
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- Patient  Profile -->
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <!-- <div class="card shadow-sm"> -->
          <!-- <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="./bg1.jpg" alt="Patient  dp">
            <h3>Saleem Shaikh</h3>
          </div> -->
          <!-- <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Patient ID:</strong>321000001</p>
            <p class="mb-0"><strong class="pr-1">Record:</strong>4</p>
            <p class="mb-0"><strong class="pr-1">type:</strong>A</p>
          </div> -->
        <!-- </div> -->
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Number</th>
                <td width="2%">:</td>
                <td>125</td>
              </tr>
              <tr>
                <th width="30%">Birth Year</th>
                <td width="2%">:</td>
                <td>2020</td>
              </tr>
              <tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
                <td>Male</td>
              </tr>
              <tr>
                <th width="30%">Religion</th>
                <td width="2%">:</td>
                <td>Group</td>
              </tr>
              <tr>
                <th width="30%">blood</th>
                <td width="2%">:</td>
                <td>B+</td>
              </tr>
              <tr>
                <th width="30%">Sugar</th>
                <td width="2%">:</td>
                <td >Nil </td>
              </tr>
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

           
    		</div>
		</div>
    </div>
</section>
     



      <div class="container">
          <h1 class="text-center">Multer Multiple Field File Upload Example</h1>
          <form action="/uploadfile" id="put" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="file1">Upload File 1:</label>
              <input type="file" name="file1" id="" required class="form-control">
            </div>
            <div class="form-group">
                <label for="file2">Upload File 2:</label>
                <input type="file" name="file2" id="" required multiple class="form-control">
              </div>
              <div class="form-group">
                  <button class="btn btn-danger btn-block">
                      Upload Files
                  </button>
              </div>
        </form>
      </div>
</body>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
</html>