<!DOCTYPE html>
<html lang="en"> 

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/6ef0603c36.js" crossorigin="anonymous"></script>
  <title>profile page</title>

  <meta name="author" content="Saleem Shaikh" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <link rel="stylesheet" href="/user/css/demo.css" />

  <link rel="stylesheet" href="/user/css/styles.css">
</head>

<body>

  <div class="ScriptTop">
    <div class="rt-container">
      <div class="col-rt-4" id="float-right">

        <!-- Ad Here -->

      </div>
      <div class="col-rt-2">
        <ul>
          <li><a href="" title="Back to main page">Back</a></li>
        </ul>
      </div>
    </div>
  </div>

  <header class="ScriptHeader">
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="rt-heading">
          <h1>Profile page</h1>
          <p>Patient Detils </p>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="Scriptcontent">

          <!-- Patient  Profile -->
          <div class="student-profile py-4">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                      <img class="profile_img" src="/user/bg11.png" alt="Patient  dp " id="photo">
                      <input type="file" id="file">
                      <label for="file" id="uploadBtn">Choose Photo</label>
                      <h3>Saleem Shaikh</h3>
                    </div>

                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                    </div>
                    <div class="card-body pt-0">
                      <table class="table table-bordered">
                        <tr>
                          <th width="30%">Policy Number</th>
                          <td width="2%">:</td>
                          <td>125</td>
                        </tr>
                        <tr>
                          <th width="30%">DOB </th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th width="30%">Age </th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>

                        <tr>
                          <th width="30%">Gender</th>
                          <td width="2%">:</td>
                          <td>Male</td>
                        </tr>

                        <tr>
                          <th width="30%">Blood Group </th>
                          <td width="2%">:</td>
                          <td>B+</td>
                        </tr>


                        <tr>
                          <th width="30%">Occupation </th>
                          <td width="2%">:</td>
                          <td>Bussiness man</td>
                        </tr>





                      </table>


                    </div>
                    <div class="card-header bg-transparent border-0">
                      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Address Details</h3>

                    </div>
                    <div class="card-body pt-0">
                      <table class="table table-bordered">
                        <tr>
                          <th width="30%">Address Line 1</th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th width="30%">Address Line 2</th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th width="30%"> Locality </th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>

                        <tr>
                          <th width="30%">District </th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>

                        <tr>
                          <th width="30%"> State </th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th width="30%">Pincode </th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>

                      </table>


                    </div>
                    <div class="card-header bg-transparent border-0">
                      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Contact Details</h3>

                    </div>
                    <div class="card-body pt-0">
                      <table class="table table-bordered">
                        <tr>
                          <th width="30%">Primary Mobile No. </th>
                          <td width="2%">:</td>
                          <td>9808908</td>
                        </tr>
                        <tr>
                          <th width="30%">Secondarty Mobile No.</th>
                          <td width="2%">:</td>
                          <td>89799898</td>
                        </tr>
                        <tr>
                          <th width="30%"> Language Preference </th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>

                        <tr>
                          <th width="30%">Email Address </th>
                          <td width="2%">:</td>
                          <td></td>
                        </tr>



                      </table>


                    </div>
                  </div>
                  <div style="height: 26px"></div>
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
                    </div>
                    <div class="card-body pt-0">
                      <p> Diabetes: Nil </p>
                      <p> Blood Pressure : 80-109 mmHg</p>
                      <p>Cholestrol Rate :</p>
                      <p></p>
                    </div>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    </div>
  </section>





</body>

</html>