
<%- include('./partials/head.ejs') %>

  <body>
    <input type="checkbox" id="nav-toggle" />
    <div class="sidebar">
      <div class="sidebar-brand">
        <h2><span class="lab la-magento"></span><span>Meridan</span></h2>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <input type="checkbox" id="sidebar-toggle_2"/>
            <a href="#"
              ><label for="sidebar-toggle_2"
                ><span class="las la-igloo"></span>
                <span>Dashboard</span></label
              ></a
            >
            <div class="sub-menu-2">
              <ul>
                <li>
                  <a href="/user/dashboard"
                    ><span class="las la-clipboard-check"></span>
                    <span>My Profile</span></a
                  >
                </li>
                <li>
                  <a href="/user/editProfile"
                    ><span class="las la-clipboard-check"></span>
                    <span>Edit Profile</span></a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="/user/records" class="active"
              ><span class="las la-file"></span> <span>Records</span></a
            >
          </li>
          <li>
            <input type="checkbox" id="sidebar-toggle" />
            <a href="#"
              ><label for="sidebar-toggle"
                ><span class="las la-clipboard-list"></span>
                <span>Appointment</span></label
              ></a
            >
            <div class="sub-menu-1">
              <ul>
                <li>
                  <a href="/user/book_appointment"
                    ><span class="las la-clipboard-check"></span>
                    <span>Book Appointment</span></a
                  >
                </li>
                <li>
                  <a href="/user/appointment_history"
                    ><span class="las la-clipboard-check"></span>
                    <span>Appointment History</span></a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="las la-bars"></span>
          </label>
          Records
        </h2>
        <div class="search-wrapper">
          <span class="las la-search">
            <input type="search" placeholder="Search here" />
          </span>
        </div>
        <div class="user-wrapper">
          <img src="./img/img_1.jpg" width="40px" height="40px" alt="" />
          <div>
            <h4><%= user.fname %> <%= user.lname %></h4>
            <small><%= user.uname %></small>
          </div>
          <div class="sub-menu">
            <ul>
              <li><span class="las la-user"></span><a href="/user/editProfile">Edit Profile</a></li>
              <li>Change Password</li>
              <li><span class="las la-sign-out-alt"></span><a href="/user/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
