@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");



*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.822);
  margin-bottom: 20px;
  text-align: center;
}



/*************/

nav {
  position: fixed;
  height: 75px;
  width: 100%;
  margin-top: -1.8rem;
  background: #0f5be7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0px 50px 0px 50px;
}

#click {
  display: none;
  font-size: 20px;
}

nav .logo {
  font-size: 30px;
  color: aliceblue;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  transition: 0.5s all ease-in-out;
}
nav ul li {
  margin: 0 10px;
  font-weight: 600;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 7px;
  transition: 0.5s all ease-in-out;
}

nav ul li a.login {
  padding: 9px 15px;
}

nav ul li a:hover,
nav ul li a.login {
  background: white;
  color: #0f5be7;
}

nav .menu-btn i {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
}

@media (max-width: 940px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 75px;
    right: -100%;
    background: #212329;
    height: 90vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  #click:checked ~ ul {
    right: 0%;
  }

  nav ul li {
    margin: 40px 0;
  }

  nav ul li a {
    font-size: 20px;
    /* display: block; */
  }

  nav ul li a.login {
    background: none;
    color: #fff;
  }

  nav ul li a:hover {
    color: #0f5be7;
    background: none;
  }
}

/**********/

.regPage{
  /* margin-top: 2.5rem; */

  background: url();
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  height: 150vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}


.container {
  max-width: 680px;
  max-height: 1200px;
  margin-bottom: 25px;
  top: auto;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  background-color: "";
  box-shadow: 1px 1px 10px 0px rgb(139, 139, 139);
}

/* ####### Create Account head ######## */
.container .Enroll {


  font-size: 30px;
  font-weight: 600;

  position: relative;
  padding-bottom: 4px;
}

.container .Enroll::before {
  content: "";
  position: absolute;
  /* left: 0; */
  bottom: 0;
  height: 5px;
  width: 275px;
  background: #0f5be7;
}

/* ####### all .user details ######### */
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .inputbox {
  width: calc(100% / 2 - 20px);
  margin: 20px 0 12px 0;
}

.user-details .inputbox .details {
  font-weight: 600;
  display: block;
  font-size: 16px;
}

.user-details .inputbox input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
  outline: none;
  border: 1.5px solid #ccc;
  font-size: 15px;
  /* text-shadow: 2px 2px 4px #ccc; */
  border-bottom-width: 1.5px;
  transition: 0.6s ease-in-out;
}
.user-details .inputbox input:hover {
  border-color: #020202f8;
  /* box-shadow: 0px 0px 11px 0px #0f5be7; */
}

/* ###### gender details ####### */
form .gender-details .gender-title {
  font-size: 16px;
  font-weight: 600;
}

form .gender-details {

  margin-top: 1.5rem;

}

form .gender-details .category {
  display: flex;

}
form .gender-details .category label{
  margin-top: .5rem;
  margin-right: .5rem;

}

/* ######## Create button ####### */
form .button {
  height: 45px;
  margin: 30px 0;
  justify-content: center;
}


button.button{
  height: 110%;
  width: 100%;
  padding: 1rem;
  outline: none;
  font-size: 1.2rem;

  font-weight: 500;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  border: 2px solid #fff;
  background-color: #0f5be7;


  color: white;
  cursor: pointer;
}



@media only screen and (max-width: 800px) {
  .container {
    width: 95%;
    height: auto;
  }
  form .button {
    margin: 30px 0;
  }
}


/* ################################# footer ###### */

.footer .logo-name {
  color: #fff;
  font-size: 40px;
}

.footer-container {
  bottom: 0;
  background-color: #212329;
  padding-bottom: 4rem;
}

.footer {
  width: 100%;
  height: 35vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 30px;
}

.footer-heading .head1 {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
}

.footer-heading .head {
  margin-top: 5rem;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-bottom: 4px solid #1877f2;
}

.footer-heading a {
  text-decoration: none;
  color: #fff;
  margin-top: 1rem;
}

.footer-heading a:hover {
  color: #1877f2;
  transition: 0.5s ease-out;
  text-decoration: underline;
}

.footer-email-form input {
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0 10px 0 12px;
}

.footer-email-form h2 {
  margin-top: 5rem;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 4px solid #1877f2;
}

#footer-email {
  width: 240px;
  margin-top: 1.6rem;
  font-size: 15px;
}

.footer-email-form #footer-email:hover {
  box-shadow: 0px 0px 10px 1px #1877f2;
}

#footer-email-btn {
  cursor: pointer;
  width: 85px;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #1877f2;
}

#footer-email-btn:hover {
  background-color: #fff;
  color: #1877f2;
  transition: 0.4s ease;
}

@media only screen and (max-width: 950px) {
  .footer {
    height: 60vh;
    display: flex;
    flex-direction: row;
  }
  #footer-email-btn {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 475px) {
  .footer {
    height: 140vh;
    display: flex;
    justify-content: flex-start;
  }
  .footer-heading .head {
    margin-left: 20px;
  }

  .footer-heading a {
    margin-left: 20px;
  }

  .footer-email-form h2 {
    margin-left: 20px;
  }

  .footer-email-form input {
    margin-left: 20px;
  }
  #footer-email-btn {
    margin-left: 20px;
  }
}

